@font-face {
    font-family: "Montserrat";
    src: url("/fonts/montserrat/Montserrat-Regular.otf");
    src: local("Verdana"),
    url("/fonts/montserrat/Montserrat-Regular.otf") format("embedded-opentype"),
    url("/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/montserrat/Montserrat-Bold.otf");
    src: local("Verdana"),
    url("/fonts/montserrat/Montserrat-Bold.otf") format("embedded-opentype"),
    url("/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/montserrat/Montserrat-Light.otf");
    src: local("Verdana"),
    url("/fonts/montserrat/Montserrat-Light.otf") format("embedded-opentype"),
    url("/fonts/montserrat/Montserrat-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

.wrapper {
    /*display: flex;*/
    font-family: Montserrat, sans-serif;
    overflow: hidden;
}

.header {
    height: 1012px;
    /*width: 100vw;*/
    background-image: url(../img/sectionsBackground/section-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.header-nav {
    display: flex;
    justify-content: space-evenly;
    height: 120px;
    background-color: rgba(73, 71, 63, .6);
    color: #fff;
    align-items: center;
}

.header-nav-logo {
    display: flex;
}

.hexagon {
    position: relative;
    width: 58px;
    height: 33px;
    background-color: #18cfab;
    margin: 16px 0;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 16px solid #18cfab;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 16px solid #18cfab;
}

.logo {
    position: absolute;
    left: 24%;
    top: -14%;
    font-weight: bold;
    font-size: 40px;
}

.header-nav-name {
    display: flex;
    font-weight: bold;
    font-size: 32px;
    align-items: center;
    margin-left: 8px;
}

.header-nav-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #b8b8b8;
    font-weight: bold;
    font-size: 13px;
    margin: 10px;
}

.header-nav-link:hover {
    color: #18cfab;
    /*padding-bottom: 51px;*/
    padding-bottom: 47px;
    border-bottom: 2px solid #18cfab;
}

.header-nav-search-icon {
    display: inline-flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    background-image: url(../img/Search_icon.png);
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.turquoise-color {
    color: #18cfab;
}

.uppercase {
    text-transform: uppercase;
}

.theme {
    color: #fff;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.creative {
    color: #fff;
    font-weight: bold;
    font-size: 79px;
    text-align: center;
    margin: 45px 0 37px;
}

.just {
    color: #d4d4d4;
    font-weight: 300;
    font-size: 34px;
    text-align: center;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 892px;
}

.btns {
    margin-top: 146px;
}

.btn {
    width: 166px;
    height: 61px;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;
    box-shadow: 0 -4px #fff;
}

.explore {
    background-color: #18cfab;
    margin-right: 28px;
}

.purchase {
    background-color: #00cbf6;
}

.box-section {
    display: flex;
}

.box {
    width: 25%;
    height: 374px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dark-box {
    background-color: #1c2a33;
    border-top: 7px solid #18cfab;
    color: #18cfab;
}

.light-box {
    background-color: #18cfab;
    border-top: 7px solid #fff;
    color: #fff;
}

.hand {
    width: 58px;
    height: 97px;
    margin-bottom: 48px;
}

.diamond {
    width: 93px;
    height: 75px;
    margin-bottom: 56px;

}

.light-bulb {
    width: 60px;
    height: 96px;
    margin-bottom: 49px;

}

.gadgets {
    width: 99px;
    height: 76px;
    margin-bottom: 56px;

}

.our-services-section {
    display: flex;
}

.header-of-section {
    font-size: 36px;
    color: #4e4e4e;
    margin-top: 82px;
    display: flex;
    justify-content: center;
}

.underline {
    border-top: 1px solid #18cfab;
    width: 76px;
    margin-top: 37px;
    display: flex;
    justify-content: center;
}

.underline:nth-of-type(2) {
    margin: 3px 12px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs-our-services {
    margin-top: 70px;
}

.tabs-names-our-services {
    display: flex;
    margin-bottom: 25px;
}

.tab-our-services .active {
    background-color: #18cfab;
    color: #fff;
}

.tab-our-services {
    display: flex;
    width: 17%;
    height: 73px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #717171;
    background-color: #f8fcfe;
    border: 1px solid #f5f5f5;
}

.tab-content {
    display: flex;
    margin-bottom: 105px;
}

.tab-content-text {
    margin-left: 20px;
    text-align: justify;
    font-size: 14px;
    font-weight: 300;
    color: #777;
    line-height: 24.39px;
}

.ready-section {
    background-image: url(../img/sectionsBackground/section-2.jpg);
    height: 474px;
    position: relative;
    background-position: center;
}

.dark-bg {
    background-color: #000000;
    opacity: 0.78;
    position: absolute;
    top: 0;
    left: 0;
    height: 474px;
    width: 100vw;
    /*background-size: auto 25% ;*/
}

.ready-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 474px;
}

.ready-name {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 35px;
}

.ready-text {
    color: #d8d8d8;
    font-size: 16px;
    margin-bottom: 80px;
}

.amazing-work-section {
    height: 1212px;
}

.tabs-amazing-work {
    margin-top: 70px;
}

.tabs-names-amazing-work {
    display: flex;
    margin-bottom: 70px;
    justify-content: center;
}

.tab-amazing-work .active {
    color: #18cfab;
    border-top: 2px solid #18cfab;
}

.tab-amazing-work {
    display: flex;
    padding: 20px;
    font-size: 14px;
    color: #717171;
    border: 1px solid #ebebeb;
}